<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clashgenerals.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>صراع الجنرالات</name>
    <description>لعبة استراتيجية حربية - الخرائط التكتيكية</description>
    <author email="dev@clashofgenerals.com">Clash of Generals Dev</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="BackgroundColor" value="#0a0f1a" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="AndroidWindowSplashScreenBackground" value="#0a0f1a" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
</widget>
